main {
    height: 917px;
    background-color: var(--gray-500);
}

.header {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 72px;
    margin-bottom: 56px;
    gap: 8px;

    p {
        font: var(--subtitle);
        color: var(--red);
    }

    h2 {
        font: var(--title-md);
        color: var(--gray-100);
        font-style: normal;
    }
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1040px;
    
}

.card {
    width: 330px;
    height: 280px;
    background-color: var(--gray-400);
    border-radius: 10px;

    img {
        max-width: 306px;
        max-height: 156px;
        margin: 12px 12px 20px;
        border-radius: 10px;
    }
}

article {
    margin: 0px 12px 17px;

    h3 {
        font: var(--title-sm);
        color: var(--gray-100);
        font-style: normal;
        padding: 4px;
    }

    p {
        font: var(--text-sm);
        color: var(--gray-300);
        padding: 4px;
    }
}

.card:hover {
    border: 1px solid var(--gray-300);
}